<?xml version="1.0" encoding="utf-8"?>

<!--
    # For double_shelf.launch
    # merge the lidar's scan of car1 and car2
-->

<launch>

    <!-- # merge scan -->
    <node pkg="ira_laser_tools" name="scan_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link" />
        <param name="cloud_destination_topic" value="merged_cloud" />
        <param name="scan_destination_topic" value="scan_merged" />
        <param name="laserscan_topics" value="/car1/scan_merged/filtered /car2/scan_merged/filtered" />

        <param name="angle_min" value="-3.141596" />
        <param name="angle_max" value="3.141596" />
        <param name="angle_increment" value="0.006283" />
        <param name="scan_time" value="0.1" />
        <param name="range_min" value="0.24" />
        <param name="range_max" value="5.0" />
    </node>

</launch>
