<?xml version="1.0"?>
<!-- These packages will be launched if robot state is "double_AMR" and robot_name is "car2" -->
<launch>
    <arg name="robot_name" default="car2" />
    <arg name="role" default="follower" />
    <!-- MQTT -->
    <node pkg="ros_mqtt_bridge" type="double_AMR_$(arg role).py"  name="ros_mqtt_bridge" output='screen'/>

    <!-- Call rosservice to change parameters of shelf_detector -->
    <node pkg="rosservice" type="rosservice" name="Shelf_Detector_Param_set" args="call --wait /$(arg robot_name)/shelf_detector/set_mode '$(find obstacle_detector)/param/double_AMR.yaml'" />

    <!-- Call rosservice to change parameters of tf_rviz_forwarder  -->
    <node pkg="rosservice" type="rosservice" name="tf_rviz_forwarder_Param_set" args="call --wait /$(arg robot_name)/tf_rviz_forwarder/set_param 'double_AMR_$(arg role)'" />
    
</launch>
