<?xml version="1.0"?>

<launch>
    <arg name="robot_name" default="car1" />
    <arg name="role" default="leader" />
    <!--Double_Assembled-->
    <!--Single_Assembled-->
    <!--Single_AMR-->
    <arg name="init_state" default="Double_Assembled"/>

    <group ns="$(arg robot_name)">
        <!-- SMACH -->
        <include file="$(find solamr)/launch/fsm.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="role" value="$(arg role)" />
            <arg name="init_state" value="$(arg init_state)"/>
        </include>
        
        <!-- 2D Lidar -->
        <include file="$(find solamr)/launch/includes/multi_laser.launch.xml">
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
        
        <!-- STM32 -->
        <node pkg="rosserial_python" type="serial_node.py" args="/dev/stm32" name="serial_node">
            <remap from="/cmd_vel" to="/$(arg robot_name)/cmd_vel"/>
            <remap from="/STM32_twist" to="/$(arg robot_name)/STM32_twist"/>
        </node>

        <!-- Shelf Detector -->
        <include file="$(find obstacle_detector)/launch/run.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="role" value="$(arg role)" />
        </include>

        <!-- MAP -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(find solamr)/maps/sqare.yaml">
            <param name="frame_id" value="$(arg robot_name)/map"/>
        </node>
        
        <!-- Forwarding topics from nano tf -->
        <node pkg="solamr" type="tf_forward_from_nano.py" name="tf_forwarder" output='screen'>
            <param name="robot_name" value="$(arg robot_name)"/>
        </node>

        <!-- Forwarding topics for PC rviz -->
        <node pkg="solamr" type="tf_rviz_forwarder.py"  name="tf_rviz_forwarder">
            <param name="robot_name" value="$(arg robot_name)"/>
            <rosparam command="load" file="$(find solamr)/params/tf_rviz/single_AMR_$(arg role).yaml"/>
        </node>

        <!-- FKIE -->
        <include file="$(find solamr)/launch/fkie/master_discovery.launch"/>
        <include file="$(find solamr)/launch/fkie/master_sync.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
    </group>
</launch>
