<?xml version="1.0"?>
<!-- These packages will be launched if robot state is "single_AMR" and robot_name is "car1" -->
<launch>
    <arg name="robot_name" default="car1"/>
    <arg name="role" default="leader"/>
    <arg name="car_length" default="0.44" />
    <arg name="l_half" default="$(eval arg('car_length')/2)" />
    <arg name="l_half_neg" default="$(eval -arg('car_length')/2)" />
    
    <!-- Move Base -->
    <include file="$(find solamr)/launch/includes/move_base_dwa.xml">
    <!-- <include file="$(find solamr)/launch/includes/move_base_teb.xml"> -->
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="car_length" value="$(arg car_length)"/>
        <arg name="l_half" value="$(arg l_half)"/>
        <arg name="l_half_neg" value="$(arg l_half_neg)"/>
    </include>

    <!-- Odom Fuser Single AMR -->
    <node pkg="solamr" type="odom_fuser_single_AMR.py"  name="odom_fuser_single_AMR" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
    </node>

    <!-- MQTT Bridge -->
    <node pkg="ros_mqtt_bridge" type="single_AMR_$(arg role).py"  name="ros_mqtt_bridge" output='screen'/>

    <!-- Call rosservice to change parameters of shelf_detector -->
    <node pkg="rosservice" type="rosservice" name="Shelf_Detector_Param_set" args="call --wait /$(arg robot_name)/shelf_detector/set_mode '$(find obstacle_detector)/param/single_AMR.yaml'" />

    <!-- Call rosservice to change parameters of tf_rviz_forwarder  -->
    <node pkg="rosservice" type="rosservice" name="tf_rviz_forwarder_Param_set" args="call --wait /$(arg robot_name)/tf_rviz_forwarder/set_param 'single_AMR_$(arg role)'" />\
</launch>
