<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="car1" />
    <arg name="role" default="leader" />
    <!-- MQTT -->
    <node pkg="ros_mqtt_bridge" type="$(arg role).py"  name="ros_mqtt_bridge" output='screen'/>

    <!-- Odom Fuser -->
    <node pkg="solamr" type="odom_big_car.py" name="odom_big_car" output="screen"/>

    <!-- Rap Controller -->
    <include file="$(find rap_controller)/launch/run_planner.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    
    <!-- Move Base -->
    <include file="$(find solamr)/launch/includes/move_base_rap_planner.xml"/>

</launch>
