<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="car2" />
    <arg name="role" default="follower" />
    <!-- MQTT -->
    <node pkg="ros_mqtt_bridge" type="double_AMR_$(arg role).py"  name="ros_mqtt_bridge" output='screen'/>

    <!-- Shelf Detector change paran -->
    <node pkg="rosservice" type="rosservice" name="Shelf_Detector_Param_set" args="call --wait /$(arg robot_name)/shelf_detector/set_mode '$(find obstacle_detector)/param/double_AMR.yaml'" />

    <!-- tf_rviz_forwarder change param -->
    <node pkg="rosservice" type="rosservice" name="tf_rviz_forwarder_Param_set" args="call --wait /$(arg robot_name)/tf_rviz_forwarder/set_param 'double_AMR_$(arg role)'" />
    
</launch>
