<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="laser">

    <xacro:macro name="lidar" params="parent">

        <joint name="${parent}_lidar_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${parent}_lidar_link"/>
            <origin xyz="0.1 0 0.125" rpy="0 0 0" />
        </joint>

        <link name="${parent}_lidar_link">
            <xacro:cylinder_inertial_matrix m="1e-5" r="0.02" h="0.05" />
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.05" radius="0.02"/>
                </geometry>
            </visual>
        </link>

        <gazebo reference="${parent}_lidar_link">
            <material>Gazebo/Blue</material>
        </gazebo>

        <gazebo reference="${parent}_lidar_link">
            <sensor type="ray" name="rplidar">
                <pose>0 0 0 0 0 0</pose>
                <visualize>false</visualize>
                <update_rate>5.5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.10</min_angle>
                            <max_angle>3.10</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.05</min>
                        <max>6.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="${parent}_lidar" filename="libgazebo_ros_laser.so">
                    <topicName>/${parent}/scan_merged/filtered</topicName>
                    <frameName>${parent}_lidar_link</frameName>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>
